* {
   font-family: 'Courier New', Courier, monospace;
   background-color: antiquewhite;
   color: darkcyan;
}

h1 {
    text-align: center;
}

.box {
    margin: 25px;
    border: 2px solid darkcyan;
    padding: 25px;
    font-size: 40px;
    font-weight: 800;
    overflow: auto;
}
.link {
    float: left;
    padding-left: 425.5px;
    padding-top: 79.5px;
}
.link2 {
    float: left;
    padding-left: 353.5px;
    padding-top: 79.5px;
}
.link3 {
    float: left;
    padding-left: 221.5px;
    padding-top: 79.5px;
}
.gif {
    float: right;
    width: 250px;
}